*{
margin:0px;
padding:0px;
box-sizing: border-box;

}
.m {

max-width :80%;
<!--background-color : #9b7;-->
padding : 40px;
margin  : auto;

}


.m h2,p{ 
    text-align:center;
    }

p{
  font-size:17px;
  }

.l{

max-width :80%;
<!--background-color : #9b75af;-->
padding : 40px;
margin  : auto;

}

input , textarea{
                 width: 90%;
              font-size:15px;
              border:2px solid black;
              border-radius: 8px;
              outline:none;
              margin:auto;
                 }
form {
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      }

.w {
    width:auto;
    color: #000000;
    background: #fdfbfb;
    padding: 4px;
    font-size: 16px;
    border: 1px black solid;
    border-radius: 12px;
    cursor: pointer;
}

.zoo{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
  }
.submitingmsg{
             font-size:25px;
             color:black;
             }  

